
.form-login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    text-align: center;
  }
  .form-login__title {
    width: 100%;
    font-weight: 400;
  }
  
  .form-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .form-options__checkbox {
    margin-right: 10px;
  }
  .form-options__forget-password {
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  
  .form-login__register-link {
    text-decoration: none;
    font-weight: bold;
  }
  
  .form-login__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding-left: 20px;
    font-size: large;
    font-weight: 100;
  }
  
  .form-subscription {
  
    width: 850px;
    height: 200px;
    background-color: #729E2E;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #fff;
    margin-left: 300px;
    margin-bottom: 20px;
  }
  
  .form-subscription_title {
    width: 600px;
    height: 80px;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
  }
  
  .form-subscription__input {
    width: 500px;
    height: 40px;
    margin-left: 50px;
    display: inline-block;
    border-radius: 5px;
  }
  .form-subscription__button {
    margin-left: 70px;
    height: 40px ;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
  }