
a {
  text-decoration: none;
}

$primary-color:#E93E30;

.categoria--red {
  background-color: $primary-color
}
$secundary-color:#F7E018;

.categoria--yellow {
  background-color: $secundary-color
}
$terciary-color:#299ED5;

.categoria--blue {
  background-color:$terciary-color
}

.categoria--grey {
  background-color: #292C33;
}
.categoria--green {
  background-color: #67C770;
}
.categoria--purple {
  background-color: #563D7C;
}

.categoria {
  margin-top: 50px;

  &__img {
  width: 50px;
  margin-top: 10px;
  margin-left: 20px;
}
  &__span {
  color: white;
  font-weight: 700;
  font-size: 30px;
  vertical-align: super;
}
  &_text{
  margin-top: 20px;
  text-align: center;
}

  &__post {
  width: 350px;
  height: 80px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
}
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
  
  &__img {
    width: 55px;
    height: 55px;
    border-radius: 10px;
  }
  &__text {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
  }
}

.post {
  &-body {
  margin-left: 90px;
  margin-top: 50px;
}

  &-title{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  &__img{
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 350px;
  width: 550px;
  height: 300px;
  object-fit: cover;
}
}

.container_bootstrap {
  width: 1250px;
  height: 750px;
  background-color: rgb(208, 202, 202);
  margin-left: 100px;
  border-radius: 10px;
  margin-top: 20px;
}

.text-date{
  display: inline-block;
  margin-left: 30px;
  font-weight: 100;
  font-size: 14px;
}

.text__span{
  font-weight: 500;
}
.bootstrap_text{
  padding: 30px;
}
/*listo arriba*/

.container_relacionados {
  width: 1250px;
  height: 500px;
  margin-left: 100px;
}

h2{
  margin-top: 30px;
  font-weight: 700;
  margin-left: 50px;
}

#logo {
  border-radius: 50%;
}

.main__container_novedades1{
  margin-left: 100px;
  display: flex;
}

.container_novedades1 {
  height: 400px;
  width: 700px;
}

.main__container_novedades2{
  height: 450px;
  width: 500px;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
}

.main__container_populares {
  height: 750px;
  width: 1300px;
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 100px;
  border-top: 1px solid;
}

.container_populares {
  height: 600px;
  width: 650px;
  float: left;
  display: block;
  
}
.main__container_categorias {
  float: left;
  height: 500px;
  width: 500px;
  margin-left: 50px;
  display: block;
}

/*listo abajo, igual*/

